.card {
    position: relative;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
  }
  .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .card .circle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    object-fit: contain;
    clip-path: circle(120px at center);
    transition: 0.5s;
  }
  
  .card:hover .circle::before {
    background-color: rgb(225, 42, 42);
    clip-path: circle(400px at center);
    object-fit: cover;
  }
  .card img {
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
  }
  .card:hover img {
    left: 80%;
    height: 400px;
  }
  .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .card:hover .content h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  .card .content h3 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .card .content p {
    color: rgb(13, 12, 12);
  }
  .card .content a {
    position: relative;
    color: rgb(18, 17, 17);
    padding: 4px 9px;
    padding-top: 1px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
  }
  