.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
}
.wrapper {
    height: 40vh;
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */
    /* background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
    background: linear-gradient(to right, #834d9b, #d04ed6); */
  }
  
  .wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    color: black;
  }
  
  .modal__footer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
   
    
  }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }