.anime-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2b2b2b; 
    color: aliceblue;
    border-radius: 20px;
    margin: 5rem;
    margin-top: 20px;
  }
  
  .anime-image {
    width: 400px;
    height: 400px;
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 50px;
    margin-bottom: 5rem;
  }
  
  .anime-text {
    display: flex;
    flex-direction: column;
  }
  
  .anime-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .anime-text p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  